/.idea
.idea
day3/execise3/big.file
day3/exercise3/big.file
.idea/workspace.xml
/day4/exercise1/node_modules
.idea/workspace.xml
.idea/workspace.xml
day3/exercise3/big.file
/day3/exercise3/big.file
/day5/node_modules
